<!-- <header id="header">
  <section>
    <div class="inner">
      <div class="logo">
        <a href="#" ng-href="#!/">Home</a> -> <strong>New company</strong>
      </div>
    </div>
  </section>
</header> -->
<section id="banner">
  <div class="inner wrapper">
    <h1>Register a new Company</h1>
  </div>
</section>

<section id="main">
  <div class="inner">
    <form class="" name="form" method="post">
      <div>
        <p>
          <label for="name">Name</label>
          <input ng-required="true" ng-pattern="" ng-maxlength="50" ng-model="data.name" type="text" name="name">
          <!-- ng-pattern="regex" -->
        </p>
        <p>
          <label for="email">E-mail</label>
          <input ng-model="data.email" type="email" name="email">
          <span ng-show="form.email.$error.email">This is not a valid email.</span>
        </p>
        <p>
          <label for="homepage">Web page</label>
          <input ng-model="data.homepage" type="url" name="homepage">
        </p>
        <p>
          <label for="address">Address</label>
          <input ng-maxlength="200" ng-minlength="2" ng-model="data.address" type="text" name="address">
        </p>
        <!-- <p><input type="text" name="phone" value=""></p> -->
      </div>
      <div>
        <p>
          <label for="description">Description Text</label>
          <br />
          <textarea ng-model="data.description" name="description" rows="8" cols="80"></textarea>
        </p>
      </div>

      <div >
        <p><button ng-disabled="!form.$valid" ng-click="submitCompany()" type="button" name="submitNewCompany">Create a company</button></p>
      </div>

    </form>
  </div>
</section>
