<style media="screen">
  .top-banner {
    /*background-image:url("https://t3.ftcdn.net/jpg/00/70/95/94/240_F_70959492_opUAbFWYBA1EZVlr05sEKYvGjEePKa5z.jpg");
    height:10vw;
    color:#22282b;
    text-align:center;
    padding:1vw;
    margin-bottom: 1vw;*/
  }
</style>

<section id="banner" class="wrapper">

  <div class="inner">
    <div class="top-banner">
      <header>
        <h1>Find the craftsmen you need</h1>
      </header>
    </div>
  </div>
</section>

<section id="main" class="wrapper">
  <div class="inner">
    <button ng-click="redirect('/register/company')" type="button" name="newCompany">Register a new company</button>
    <button type="button" name="showAdvSearch" ng-click="showSearchSettins = true;" ng-show="!showSearchSettins">Custom Search</button>
    <div class="" ng-show="showSearchSettins" >
      <form name="customSearch" method="get">
        <div class="field">
          <label for="filter">Category </label>
          <select ng-model="selectedCategory" ng-options="category.name for category in categories"></select>
        </div>
        <ul class="actions">
          <li><button class="btn" type="button" name="customSearch">Search</button></li>
          <li><button type="button" name="showAdvSearch" ng-click="showSearchSettins = false;">Hide Custom Search</button></li>
        </ul>
      </form>
    </div>
  </div>
</section>

<section id="three" class="wrapper align-center">
  <div class="inner">
    <div>
      <h2>Categories overview</h2>
      <p ng-repeat="category in categories">
        <strong>{{category.name}}</strong> - {{category.id}}
      </p>
    </div>
    <!-- Temprary section for testing -->
    <div class="">
      <p ng-repeat="company in companies">
        <button type="button" name="button" ng-click="redirect('company/' + company.id)">{{company.name}}</button>
        <!-- <a href="/#!/company/{{company.id}}">{{company.name}}</a> -->
      </p>
    </div>
  </div>
</section>
<!-- Temporary section for testing -->
