<section id="banner" class="wrapper">

  <div class="inner">
    <div class="top-banner">
      <header>
        <h1>Find the craftsmen you need</h1>
      </header>
    </div>
  </div>
</section>

<section id="main" class="wrapper">
  <div class="inner">
    <button ng-show="$parent.loggedIn" ng-click="redirect('/register/company')" type="button" name="newCompany">Register a new company</button>
    <button type="button" name="showAdvSearch" ng-click="toggleSearch();" ng-show="!showSearchSettings">Custom Search</button>
    <div class="" ng-show="showSearchSettings" >
      <form name="companyQuery" method="get">
        <h2>Search parameters</h2>
        <div class="uniform">
          <div class="6u 12u$(xsmall)">
            <label for="">Owner nick name</label>
            <input type="text" name="userNick" value="" ng-model="userSearch.name" ng-model-options="{ debounce: 500 }" ng-change="customUserSearch()">
          </div>
          <div class="6u 12u$(xsmall)">
            <label for="">Owner first name</label>
            <input type="text" name="firstName" value="" ng-model="userSearch.firstName" ng-model-options="{ debounce: 500 }" ng-change="customUserSearch()">
          </div>
          <div class="6u 12u$(xsmall)">
            <label for=""> Owner last name</label>
            <input type="text" name="lastName" value="" ng-model="userSearch.lastName" ng-model-options="{ debounce: 500 }" ng-change="customUserSearch()">
          </div>
          <div class="6u 12u$(xsmall)">
            <label for="">Owner email</label>
            <input type="text" name="userEmail" value="" ng-model="userSearch.email" ng-model-options="{ debounce: 500 }" ng-change="customUserSearch()">
          </div>
          <div class="6u 12u$(xsmall)" ng-show="foundUsers.length > 0">
            <label for="filter">Selected owner(s) </label>
            <select ng-model="companySearch.ownerId" ng-options="user.id as user.name for user in foundUsers" multiple></select>
          </div>
          <div class="6u 12u$(xsmall)">
            <label for="filter">Category </label>
            <select ng-model="companySearch.categories" ng-options="category.id as category.name for category in categories" multiple></select>
          </div>
          <div class="6u 12u$(xsmall)">
            <label for="">Name</label>
            <input type="text" name="userEmail" value="" ng-model="companySearch.name">
          </div>
          <p>
            <label for="reviewRating">Rating:</label>
            <input min="0" max="10" ng-min="0" ng-max="10" ng-model="companySearch.rating" type="number" name="rating" value="">
          </p>
          <div class="6u 12u$(xsmall)">
            <label for="ico">ICO</label>
            <input type="text" name="ico" value="" ng-model="companySearch.ico">
          </div>
          <div class="6u 12u$(xsmall)">
            <label for="">Email</label>
            <input type="text" name="userEmail" value="" ng-model="companySearch.email">
          </div>
          <div class="6u 12u$(xsmall)">
            <label for="homepage">Homepage</label>
            <input type="text" name="homepage" value="" ng-model="companySearch.homepage">
          </div>
          <div class="6u$ 12u$(small)">
            <input type="checkbox" ng-init="checked=false" name="geoQuery" ng-model="companySearch.geoQuery">
            <label ng-click="companySearch.geoQuery = !companySearch.geoQuery; showMap = !showMap" for="geoQuery">Use map for query</label>
          </div>
        </div>
        <div class="">
          <ui-gmap-google-map ng-if="showSearchSettings && showMap" center='map.center' zoom='map.zoom' control="map.control">
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
          </ui-gmap-google-map>
        </div>
        <ul class="actions">
          <li><button ng-disabled="runningUserQuery" class="btn" type="button" name="customSearch" ng-click="customSearch()">Search</button></li>
          <li><button type="button" name="showAdvSearch" ng-click="toggleSearch();">Hide Custom Search</button></li>
        </ul>
      </form>
      <div ng-show="foundCompanies.length > 0">
        <p ng-repeat="company in foundCompanies">
          <button type="button" name="button" ng-click="redirect('company/' + company.id)">{{company.name}}</button>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="three" class="wrapper align-center">
  <div class="inner">
    <div class="">
      <h2>Categories</h2>
      <p ng-repeat="category in categories">
        <button type="button" name="button" ng-click="getCompanies(category.id)">{{category.name}}</button>
      </p>
    </div>
  </div>
  <div ng-show="companies && companies.length > 0" class="inner">
    <h2>Companies</h2>
    <p ng-repeat="company in companies">
      <button type="button" name="button" ng-click="redirect('company/' + company.id)">{{company.name}}</button>
    </p>
  </div>
</section>
